@keyframes pokemonImageIdle {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(3deg);
    }
    35% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(-4deg);
    }
    55% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pokemonVisible {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: scale(1.3);
    }
    35% {
        transform: rotate(-4deg);
    }
    55% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes showName {
    0% {
        transform: rotateZ(0turn) scale(0);
    }
    100% {
        transform: rotateZ(2turn) scale(1);
    }
}